h1{
    color:red; 
    font-size: 100px; 
    
    font-family: 'Palatino', serif;
    display: inline;
}
#second-header{
    color: #000000;
}

p{
    font-size: 14px;
    width: 30%;
    font-family: 'Avenir', sans-serif;
}

#hero-wrapper{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 10%;
    position: relative;
    z-index: 2;
}
    #hero-beans{
        background-image: url("Images/beans-min.jpg");
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        z-index: 1;
    width: 50%;
    height: 700px;

    top:0px;
    right:0px;

}